@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Pacifico&family=Sigmar&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    line-height: 2.0;
    background-color: blueviolet;
    color: white;

}
/* Header & Navigation */
img{
    max-width: 50%;
    height: 400px;
    width: 400px;
    border-radius: 0%;
}
header {
    background: #333
    color(srgb red green blue) black;
    padding: 1rem;
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li{
    margin: 0 15px;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* Developer Section */
#developer{
    background: grey;
    color: black;
    padding: 3rem 1rem;
    text-align: center;
}

#developer h1{
    font-size: 3rem;
}

#developer p{
    font-size: 1.5rem;
}

/* About Section */
#About{
    padding: 2rem 1rem;
    text-align: center;
    background-color: black;
}
#About h2{
    font-size: 3rem;
}
#About p{
    font-size: 1.5rem;
    max-width: 800px;
    margin: 0 auto;
}

/* Contact Section */
#contact{
    padding: 2rem 1rem;
    background-color: white;
    text-align: center;
    justify-content: center;
}
form{
    display: flex;
    flex-direction: column;
    column-gap: 0rem;
    max-width: 500px;
    margin: 0 auto;
}
input, textarea{
    padding: 0.775rem;
    font-size: 2rem;
    border: 1px solid black;
    border-radius: 5px;
}
button{
    background-color: white;
    color: black;
    padding: 0.75rem;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    font-size: 0.2rem;
}
button:hoover{
    background-color: grey;
}
/*footer*/
footer{
    color: black;
    padding: 1rem;
    text-align: center;
}